
<%= render :partial => 'map', :locals => {:lat => 40.686728331, :long => -73.9902719989999, :zoom => 12} %>
<%= render :partial => 'pin', :collection => @subways, :as => :subway %>

<ul>
<% @subways.each do |subway| %>

    <li><h3><%= subway.name %></h3></li>
    <li><%= subway.lat %></li>
    <li><%= subway.long %></li>
    <li><%= subway.line %></li>
    <% end %>
  </ul>